.container-contato {
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;
}

.card-contato {
  flex-basis: calc(23.33% - 10px);
  background-color: #141414;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 1.125rem;
  transition: background-color 0.2s ease-in;
}

.card-contato:hover {
  background-color: #fff;
  color: #141414;
}

/* QUERIES */

@media (max-width: 800px) {
  .container-contato {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .card-contato {
    flex-basis: 100%; /* Ocupa a largura total disponível */
  }
}

@media (max-width: 600px) {
  .container-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card-contato {
    width: 100%;
  }
}
