* {
  /* global reset */
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}


.main2 {
  font-family: sans-serif;
  font-size: 1.6rem;
  line-height: 1;
  background-color: #141414;
  font-size: 62.5%;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.cont2 {
  margin: 0 auto;
  max-width: 120rem;
}

.profile-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 4rem;
  margin-bottom: 4rem;
  padding: 100px;
}

.profie-item {
  overflow: hidden;
  border-radius: 3%;
  transition: all 0.2s ease-in;
}


.profie-item:hover .profile-img {
  border: 1.2px solid #0D374F;
}

.profie-item:hover .profile-link {
  color: #fff;
}

.profie-item:hover {
  transform: scale(1.1);
}

.profile-link {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  text-decoration: none;
  color: #e5e5e5;
  font-family: inherit;
  font-size: 1.4rem;
}

.profile-img {
  width: 100%;
  border: 5px solid transparent;
  border-radius: 50%;
  
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: grey;
  font-size: 1.4rem;
  display: block;
  margin: 0 auto;
  border: 1px solid grey;
  padding: 1rem 0.8rem;
  transition: all 0.2s;
}

.btn:hover {
  border: 1px solid #fff;
  color: #fff;
}


/* MEDIA QUERIES */
@media (max-width: 1300px) {
  .profile-link {
    font-size: 0.9rem;
  }

}

@media (max-width: 1040px) {
  .profile-link {
    font-size: 0.7rem;
  }

}

@media (max-width: 920px) {
  .profile-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .profile-link {
    font-size: 1.4rem;
  }
  .btn {
    font-size: 1.4rem;
    padding: 1rem 1.2rem;
  }
  .main2 {
    font-size: 1.3rem
  }
  .profile-list {
    padding: 120px;
  }
  .profile-link {
    padding-bottom: 20px;
  }
}



@media (max-width: 700px) {
  .profile-link {
    font-size: 1.2rem;
  }

  .btn {
    font-size: 1.4rem;
    padding: 0.8rem 1.0rem;
  }
  .profile-list {
    padding: 90px;
  }
}

@media (max-width: 560px) {
  .profile-link {
    font-size: 1rem;
  }

  .btn {
    font-size: 1.4rem;
    padding: 0.8rem 1.0rem;
  }
  .profile-list {
    padding: 90px;
  }
}

@media (max-width: 560px) {
  .profile-link {
    font-size: 0.8rem;
  }

  .btn {
    font-size: 1.4rem;
    padding: 0.8rem 1.0rem;
  }
  .profile-list {
    padding: 90px;
  }
}

@media (max-width: 400px) {

  .profile-link {
    font-size: 0.8rem;
  }

  .btn {
    font-size: 1.4rem;
    padding: 0.6rem 0.9rem;
  }
  .profile-list {
    padding: 40px;
  }
}

@media (max-width: 200px) {
  .profile-link {
    font-size: 0.5rem;
  }

  .btn {
    font-size: 1.2rem;
    padding: 0.4rem 0.6rem;
  }
  .profile-list {
    padding: 20px;
  }
}