/* CSS VARIABLES */
:root {
  --primary: #141414;
  --light: #F3F3F3;
  --dark: 	#686868;
}

html, body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  color: var(--light);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  line-height: 1.4;
}
body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

/* h1s */
.home-titulo {
  padding-top: 40px;  
}

.titulo2 {
  padding-top: 30px;  
}

.main {
  margin: 0;
  padding: 0;
}

/* HEADER */
header {
  padding-top: 20px;
  padding-left: 45px;
  padding-bottom: 20px;
  position: fixed;
  top: 0;
  display: flex;
  gap: 25px;
  justify-content: baseline;
  background-color: var(--primary);
  width: 100%;
  margin-bottom: 0px;
  box-sizing: border-box; /* Adicione esta linha */
  z-index: 2;
}


#logo img {
  margin: 0 auto; 
  text-transform: uppercase;
  max-width: 100%;
  width: 130px;
  height: 60px;
}


.main-nav {
  display: flex;
  gap: 10px;
  align-items: center;
  grid-area: mn;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70vw; /* Usando 10% da largura da tela como espaço */
}

.main-nav {
  margin-right: auto;
}

.homeicon {
  float: right;
}



.main-nav a {
  color: var(--light);
  text-decoration: none;
  margin: 5px;  
}

.main-nav a:hover {
  color: #FF0000;
}

.homeicon {
  width: 38px; /* Defina o tamanho desejado para o ícone */

}

/* MAIN CONTIANER */
.main-container {
  padding-top: 50px;
  padding-left: 40px;
  padding-right: 55px ;
}



.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(6, minmax(100px, 1fr));
  
}

.container a {
  transition: transform .3s;  
  width: 100%;
}

.container a:hover {
  transition: transform .5s;
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);  
  transform: scale(1.2);
}

.container img {
  border-radius: 4px;
}





.home-titulo {
  text-transform: uppercase;
  font-family: 'Roboto Condensed';
}

/* LINKS */
.link {
  padding: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.sub-links ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 140px;
}

.sub-links a {
  color: var(--dark);
  text-decoration: none;
}

.sub-links a:hover {
  color: var(--dark);
  text-decoration: underline;
}




/* FOOTER */
footer {
  padding: 0;
  text-align: center;
  color: var(--dark);
  margin: 10px;
  clear: both; 
}



/* MEDIA QUERIES */




@media(max-width: 900px) {

  header {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "nt nt nt  .  .  . sb . . . "
    "mn mn mn mn mn mn  mn mn mn mn";
  }

  .main-container .container {
    grid-template-columns: repeat(4, minmax(100px, 1fr));
  }

}

@media (max-width: 880px) {
  .main-nav {
    flex-wrap: wrap;
    justify-content: baseline;
    margin-right: inherit;
  }
  
  .main-nav a {
    margin: 5px 10px;
  }
  
  .nav-menu {
    justify-content: center;
    gap: 20px; 
  }
  .homeicon {
    width: 34px; /* Defina o tamanho desejado para o ícone */
  }
}


@media (max-width: 800px) {
  header {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "nt nt nt . . . sb . . ."
      "mn mn mn mn mn mn mn mn mn mn";
  }

  .container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }



  .main-container .container {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }

  .sub-links ul {
    gap: 20px;
  }

  
}


@media (max-width: 880px) {
.home-titulo {
  padding-top: 100px;
}
}



@media(max-width: 500px) {

  .main {
    font-size: 15px;
  }

  header {
    margin: 0;
    padding: 10px 0 0 0;
    position: static;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: 
    "nt"    
    "mn"
    "sb";
    text-align: center;
  }

  .container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
  }

  .chamadosLogo {
    max-width: 100%;
    margin: auto;
  }

  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  h1 {
    text-align: center;
    font-size: 18px;
  }

  .main-container .container {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
  .main-container {
    padding-left: 30px;
    padding-right: 29px;
  }

  .container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;    
  }

  .container a:hover {
    transition: transform .3s;
    -ms-transform: scale(1);
    -webkit-transform: scale(1);  
    transform: scale(1.2);
  }

  .logos {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
  }

  .sub-links ul {
    gap: 20px;
    justify-content: flex-start;
    text-align: center;
    font-size: 15px;
  }
  .home-titulo {
    padding-top: 10px;
  }
  .homeicon {
    width: 30px; /* Defina o tamanho desejado para o ícone */
  }
}




/* estilo JS */
a {
  text-decoration: none;
}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(6, minmax(100px, 1fr));
  position: relative;
}

.container .card {
  position: relative;
  overflow: hidden;
  padding: 0;
}

.container .card .mensagem {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: white;
  background-color: rgb(128, 128, 128);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s, z-index 0.3s;
  transform: scale(0.8);
  border-radius: 4px;
  z-index: -1;
}

.container .card:hover {
  z-index: 1;
}

.container .card:hover .mensagem {
  opacity: 1;
  transform: scale(1);
  z-index: 2;
}

/* Queries */

@media(max-width: 500px) {
  .container .card .mensagem {
    font-size: 9px;
  }
}

@media(max-width: 300px) {
  .container .card .mensagem {
    font-size: 6.5px;
  }
}
